.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.puppy-contents-all {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
}

.puppy-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: -1.5px;
}

.puppy-contents {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 50px 0 0 30px;
}

.puppy-title {
  margin: 50px 0 20px 0;
  color: #333;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1.5px;
}

.puppy {
  width: 30vmin;
}

.puppy-name {
  margin: 0;
  font-size: 25px;
  color: #666;
  font-weight: bold;
  letter-spacing: -1.5px;
  margin-top: 10px;
}

.puppy-age {
  margin: 0;
  margin-top: 10px;
  font-size: 25px;
  color: #666;
  letter-spacing: -1.5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
